.boton.cuatro::after{
    content: "";
    width: 1px;
    height: 1px;
    background-color: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 100px;
    transition: 0.3s ease-in-out all;
    transform-origin: center;
} 

.boton.cuatro:hover::after{
    transform: scale(400);
    background: #CC1010;
}

.boton.cuatro:hover{
    background: #960909;
}
